.btn-radio {
    display: none;
}

.btn-radio+label {
    margin-right: 5px;
    padding: 6px 12px;
    border: 1px solid #17a2b8;
    color: #17a2b8;
    background-color: #fff;
    border-radius: .25rem;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-radio:checked+label {
    background-color: #17a2b8;
    color: #fff;
}